- move ||= @move
= form_for move do |f|
  = f.hidden_field :play_id
  .grid-x
    .cell.large-6= f.number_field :request, autofocus: true, autocomplete: :off, placeholder: '4 digits', class: 'text-right', style: 'font-size: 24px; border: none; box-shadow: none'
    -# .cell.large-6= f.submit 'Save', class: 'expanded button'
